src/main/app/category6.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
     <flow name="cat6_Flow">
        <logger level="INFO" doc:name="Logger" message="flow ref 6"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="38b99f86-3a5e-47cb-a095-f35563465473">
            <dw:input-payload mimeType="application/json"/>
            <dw:input-variable mimeType="application/json" variableName="currentMnrByPricingRecordJson"/>
            <dw:input-variable mimeType="application/java" variableName="category"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	NegotiatedFareCode: payload.mnrCatInfo.descriptionInfo.number as :string,
	RuleInfo: {
		LengthOfStayRules: {
			StayRestrictionsInd: false when payload.mnrCatInfo.processIndicator == 'ASS' otherwise true
		}
	},
	City: [{
		LocationCode: payload.mnrFCInfoGrp.locationInfo.locationDescription.code default ""
	}],
	AC_SegmentRefNumbers: flatten (flowVars.currentMnrByPricingRecordJson.fareComponentInfo map ( 
		$.segmentRefernce map {
		RPH: $.reference.value
	})
	)
		
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Payload after DW for Category 6 :: #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
