src/main/app/category6.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
     <flow name="cat6_Flow">
     <!--  metadata:id="38b99f86-3a5e-47cb-a095-f35563465473" -->
        <logger level="INFO" doc:name="Logger" message="Starting cat6 transformation"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="9bac77d9-4f5b-4d27-b8a3-8e167a308c70">
            <dw:input-payload mimeType="application/json" doc:sample="examples/mnrCatinfo-cat6.json"/>
            <dw:input-variable mimeType="application/json" variableName="currentMnrByPricingRecordJson" doc:sample="examples/mnrByPricingRecord.json"/>
            <dw:input-variable mimeType="application/java" variableName="category"/>
            <dw:set-payload resource="classpath:dwl/category6.dwl"/>
        </dw:transform-message>
        <logger message="Completed cat6 transformation  ::  Payload after DW for Category 6 :: #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
