src/main/app/category6.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
     <flow name="cat6_Flow">
        <logger level="INFO" doc:name="Logger" message="flow ref 6"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="38b99f86-3a5e-47cb-a095-f35563465473">
            <dw:input-payload mimeType="application/json" doc:sample="examples/mnrCatinfo-cat6.json"/>
            <dw:input-variable mimeType="application/json" variableName="currentMnrByPricingRecordJson" doc:sample="examples/mnrByPricingRecord.json"/>
            <dw:input-variable mimeType="application/java" variableName="category"/>
<<<<<<< HEAD
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	NegotiatedFareCode: payload.mnrCatInfo.descriptionInfo.number as :string,
	RuleInfo: {
		LengthOfStayRules: {
			MinimumStay: {
				MinStay: flowVars.currentMnrByPricingRecordJson.mnrRulesInfoGrp[0].mnrDateInfoGrp[0].dateInfo.dateAndTimeDetails[0].time as :number,
				MinStayDate: flowVars.currentMnrByPricingRecordJson.mnrRulesInfoGrp[0].mnrDateInfoGrp[0].dateInfo.dateAndTimeDetails[0].date as :date {format: "ddMMMyy"} as :string {format: "yyyy-MM-dd"}
//				flowVars.date as :localdatetime{format: "yyyyMMddHHmmss"} as :string{format:"yyyy/mm/dd HH:mm:ss"}			
			},
			StayRestrictionsInd: false when payload.mnrCatInfo.processIndicator == 'ASS' otherwise true
		}
	},
	City: flatten (payload.mnrFCInfoGrp map (
		$.locationInfo map {
		LocationCode: $.locationDescription.code
	}
	)),
	AC_SegmentRefNumbers: flatten (flowVars.currentMnrByPricingRecordJson.fareComponentInfo map ( 
		$.segmentRefernce map {
		RPH: $.reference.value
	})),
	AC_TravelerRefNumbers: flowVars.currentMnrByPricingRecordJson.paxRef.passengerReference map {
		RPH: $.value
	}
}]]></dw:set-payload>
=======
            <dw:set-payload resource="classpath:dwl/category6.dwl"/>
>>>>>>> master
        </dw:transform-message>
        <logger message="Payload after DW for Category 6 :: #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
