src/main/app/category5.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="cat5_Flow">
        <logger level="INFO" doc:name="Logger" message="flow ref 5 "/>
        <logger message="#['\n\n******************\n\nPayload:\n\n' + payload]" level="INFO" doc:name="Pre Transform Payload Logger"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="2add139d-59b1-4993-8bd5-f6605a841c77">
            <dw:input-payload mimeType="application/json" doc:sample="sample_data/json.json"/>
            <dw:input-variable mimeType="application/json" variableName="currentMnrByPricingRecordJson"/>
            <dw:set-payload resource="classpath:dwl/category5.dwl"/>
        </dw:transform-message>
        <logger message="#['\n\n******************\n\nPayload:\n\n' + payload]" level="INFO" doc:name="Post Transform Payload Logger"/>
    </flow>
</mule>
