src/main/app/example_ac_pshp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="example_ac_pshpFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <parse-template location="examples/mini-rules-sapi-response.json" doc:name="Parse Template - set the payload for sapi response"/>
        <foreach collection="#[json:/MiniRule_GetFromRecReply/mnrByPricingRecord]" doc:name="For Each - mnrByPricingRecord">
            <logger message="Found instance of mnrByPricingRecord" level="INFO" doc:name="Logger"/>
            <set-variable variableName="currentMnrByPricingRecordJson" value="#[payload]" doc:name="Variable - currentMnrByPricingRecordJson"/>
            <logger message="Just saved the mnrByPricingRecord instance to a flow Var called currentMnrByPricingRecordJson :: mnrByPricingRecord objectd = #[payload]" level="INFO" doc:name="Logger"/>
            <logger message="Payload for categories = #[json:/mnrRulesInfoGrp]" level="INFO" doc:name="Logger"/>
            <foreach collection="#[json:/mnrRulesInfoGrp]" doc:name="For Each - mnrRulesInfoGrp">
                <object-to-string-transformer doc:name="Object to String"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
                <logger message="in the for after transform to JSON  ==  #[json:/mnrCatInfo/descriptionInfo/number]" level="INFO" doc:name="Logger"/>
                <set-variable variableName="category" value="#[json:/mnrCatInfo/descriptionInfo/number]" doc:name="category"/>
                <choice doc:name="Choice">
                    <when expression="#[flowVars.category == '5']">
                        <logger message="5" level="INFO" doc:name="Logger5"/>
                        <flow-ref name="cat5_Flow" doc:name="Flow Reference"/>
                    </when>
                    <when expression="#[flowVars.category == '6']">
                        <logger message="6" level="INFO" doc:name="Logger6"/>
                        <flow-ref name="cat6_Flow" doc:name="Flow Reference"/>
                    </when>
                    <when expression="#[flowVars.category == '7']">
                        <logger message="7" level="INFO" doc:name="Logger7"/>
                        <flow-ref name="cat7_Flow" doc:name="Flow Reference"/>
                    </when>
                    <when expression="#[flowVars.category == '31']">
                        <logger message="31" level="INFO" doc:name="Logger31"/>
                        <flow-ref name="cat31_Flow" doc:name="Flow Reference"/>
                    </when>
                    <when expression="#[flowVars.category == '33']">
                        <logger message="33" level="INFO" doc:name="Logger33"/>
                        <flow-ref name="cat33_Flow" doc:name="Flow Reference"/>
                    </when>
                    <otherwise>
                        <logger message="***** Did not find the appropriate value for a category *****" level="INFO" doc:name="Logger"/>
                    </otherwise>
                </choice>
            </foreach>
        </foreach>
        <set-payload value="{ &quot;message&quot; : &quot;Transforms all individually.  Next step will be to add to FareInfos[] array&quot; }" mimeType="application/json" doc:name="Set Payload"/>
    </flow>
    
</mule>
