src/main/app/example_ac_pshp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="example_ac_pshpFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <parse-template location="examples/mini-rules-sapi-response.json" doc:name="Parse Template - set the payload for sapi response"/>
        <logger message="#[json:/MiniRule_GetFromRecReply/mnrByPricingRecord[0]/mnrRulesInfoGrp[0]/mnrCatInfo/descriptionInfo/number]" level="INFO" doc:name="Logger"/>
        <logger message="#[json:/MiniRule_GetFromRecReply/mnrByPricingRecord[0]/mnrRulesInfoGrp[1]/mnrCatInfo/descriptionInfo/number]" level="INFO" doc:name="Logger"/>
        <logger message="#[json:/MiniRule_GetFromRecReply/mnrByPricingRecord[0]/mnrRulesInfoGrp[2]/mnrCatInfo/descriptionInfo/number]" level="INFO" doc:name="Logger"/>
        <logger message="#[json:/MiniRule_GetFromRecReply/mnrByPricingRecord[0]/mnrRulesInfoGrp[3]/mnrCatInfo/descriptionInfo/number]" level="INFO" doc:name="Logger"/>
        <logger message="#[json:/MiniRule_GetFromRecReply/mnrByPricingRecord[0]/mnrRulesInfoGrp[4]/mnrCatInfo/descriptionInfo/number]" level="INFO" doc:name="Logger"/>
        <foreach doc:name="For Each" collection="#[json:/MiniRule_GetFromRecReply/mnrByPricingRecord[0]/mnrRulesInfoGrp]">
                    <logger level="INFO" doc:name="Logger" message="in the for each"/>
            <choice doc:name="Choice">
                <when expression="#[json:/MiniRule_GetFromRecReply/mnrByPricingRecord[0]/mnrRulesInfoGrp[4]/mnrCatInfo/descriptionInfo/number == '5']">
                    <logger level="INFO" doc:name="Logger5" message="5"/>
                    <flow-ref name="cat5_Flow" doc:name="Flow Reference"/>
                </when>
                <when expression="#[json:/MiniRule_GetFromRecReply/mnrByPricingRecord[0]/mnrRulesInfoGrp[4]/mnrCatInfo/descriptionInfo/number]#[]">
                    <logger level="INFO" doc:name="Logger6" message="6"/>
                    <flow-ref name="cat6_Flow" doc:name="Flow Reference"/>
                </when>
                <when expression="#[json:/MiniRule_GetFromRecReply/mnrByPricingRecord[0]/mnrRulesInfoGrp[4]/mnrCatInfo/descriptionInfo/number]">
                    <logger level="INFO" doc:name="Logger7" message="7"/>
                    <flow-ref name="cat7_Flow" doc:name="Flow Reference"/>
                </when>
                <when expression="#[json:/MiniRule_GetFromRecReply/mnrByPricingRecord[0]/mnrRulesInfoGrp[4]/mnrCatInfo/descriptionInfo/number]">
                    <logger level="INFO" doc:name="Logger31" message="31"/>
                    <flow-ref name="cat31_Flow" doc:name="Flow Reference"/>
                </when>
                <when expression="#[json:/MiniRule_GetFromRecReply/mnrByPricingRecord[0]/mnrRulesInfoGrp[4]/mnrCatInfo/descriptionInfo/number]">
                    <logger level="INFO" doc:name="Logger33" message="33"/>
                    <flow-ref name="cat33_Flow" doc:name="Flow Reference"/>
                </when>

            </choice>
        </foreach>
        <dw:transform-message doc:name="Transform Message" metadata:id="f56d72fd-fe9e-43c2-841e-71c592c18d8b">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	PricedItineraries: [{
		ExchangeRate: 3.34,
		Indicator: true when 1 == 1 otherwise false
	}]
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="cat5_Flow">
        <logger level="INFO" doc:name="Logger" message="flow ref 5 "/>
    </flow>
    
    <flow name="cat6_Flow">
        <logger level="INFO" doc:name="Logger" message="flow ref 6"/>
    </flow>
    
    <flow name="cat7_Flow">
        <logger level="INFO" doc:name="Logger" message="flow ref 7"/>
    </flow>
    
    <flow name="cat31_Flow">
        <logger level="INFO" doc:name="Logger" message="flow ref 31"/>
    </flow>
    
    <flow name="cat33_Flow">
        <logger level="INFO" doc:name="Logger" message="flow ref 33"/>
    </flow>
    
</mule>
