target/classes/example_ac_pshp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="example_ac_pshpFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <parse-template location="examples/mini-rules-sapi-response.json" doc:name="Parse Template - set the payload for sapi response"/>
        <logger message="#[json:/MiniRule_GetFromRecReply/mnrByPricingRecord[0]/mnrRulesInfoGrp[0]/mnrCatInfo/descriptionInfo/number]" level="INFO" doc:name="Logger"/>
        <logger message="array for  == #[json:/MiniRule_GetFromRecReply/mnrByPricingRecord[0]/mnrRulesInfoGrp]" level="INFO" doc:name="Logger"/>
        <set-payload value="#[json:/MiniRule_GetFromRecReply/mnrByPricingRecord[0]/mnrRulesInfoGrp]" doc:name="Set Payload"/>
        <foreach doc:name="For Each" collection="#[payload]">
            <logger message="In the loop now and about to transfor to java :: #[payload]" level="INFO" doc:name="Logger"/>
            <object-to-string-transformer doc:name="Object to String"/>
            <json:object-to-json-transformer doc:name="Object to JSON"/>
                    <logger level="INFO" doc:name="Logger" message="in the for after transform to JSON  ==  #[json:/mnrCatInfo/descriptionInfo/number]"/>
            <set-variable variableName="category" value="#[json:/mnrCatInfo/descriptionInfo/number]" doc:name="category"/>
            <choice doc:name="Choice">
                <when expression="#[flowVars.category == '5']">
                    <logger level="INFO" doc:name="Logger5" message="5"/>
                    <flow-ref name="cat5_Flow" doc:name="Flow Reference"/>
                </when>
                <when expression="#[flowVars.category == '6']">
                    <logger level="INFO" doc:name="Logger6" message="6"/>
                    <flow-ref name="cat6_Flow" doc:name="Flow Reference"/>
                </when>
                <when expression="#[flowVars.category == '7']">
                    <logger level="INFO" doc:name="Logger7" message="7"/>
                    <flow-ref name="cat7_Flow" doc:name="Flow Reference"/>
                </when>
                <when expression="#[flowVars.category == '31']">
                    <logger level="INFO" doc:name="Logger31" message="31"/>
                    <flow-ref name="cat31_Flow" doc:name="Flow Reference"/>
                </when>
                <when expression="#[flowVars.category == '33']">
                    <logger level="INFO" doc:name="Logger33" message="33"/>
                    <flow-ref name="cat33_Flow" doc:name="Flow Reference"/>
                </when>
                <otherwise>
                    <logger message="***** Did not find the appropriate value for a category *****" level="INFO" doc:name="Logger"/>
                </otherwise>

            </choice>
        </foreach>
        <set-payload value="{ &quot;message&quot; : &quot;Transforms all individually.  Next step will be to add to FareInfos[] array&quot; }" mimeType="application/json" doc:name="Set Payload"/>
    </flow>
    
</mule>
