target/classes/example_ac_pshp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="example_ac_pshpFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <parse-template location="examples/mini-rules-sapi-response.json" doc:name="Parse Template - set the payload for sapi response"/>
        <logger level="INFO" doc:name="Logger"/>
        <flow-ref name="minirules_SubFlow" doc:name="Flow Reference"/>
    </flow>
    <sub-flow name="minirules_SubFlow">
        <set-variable variableName="fareinfosArrays" value="#[ new java.util.ArrayList() ]" doc:name="fareinfosArrays"/>
        <foreach collection="#[json:/MiniRule_GetFromRecReply/mnrByPricingRecord]" doc:name="For Each - mnrByPricingRecord">
            <logger message="Found instance of mnrByPricingRecord" level="INFO" doc:name="Logger"/>
            <set-variable variableName="currentMnrByPricingRecordJson" value="#[payload]" doc:name="Variable - currentMnrByPricingRecordJson"/>
            <logger message="Just saved the mnrByPricingRecord instance to a flow Var called currentMnrByPricingRecordJson :: mnrByPricingRecord objectd = #[payload]" level="INFO" doc:name="Logger"/>
            <logger message="Payload for categories = #[json:/mnrRulesInfoGrp]" level="INFO" doc:name="Logger"/>
            <foreach collection="#[json:/mnrRulesInfoGrp]" doc:name="For Each - mnrRulesInfoGrp">
                <object-to-string-transformer doc:name="Object to String"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
                <logger message="in the for after transform to JSON  ==  #[json:/mnrCatInfo/descriptionInfo/number]" level="INFO" doc:name="Logger"/>
                <set-variable variableName="category" value="#[json:/mnrCatInfo/descriptionInfo/number]" doc:name="category"/>
                <choice doc:name="Choice">
                    <when expression="#[flowVars.category == '5']">
                        <logger message="5" level="INFO" doc:name="Logger5"/>
                        <flow-ref name="cat5_Flow" doc:name="Flow Reference"/>
                        <set-payload value="#[message.payloadAs(java.lang.String)]" doc:name="Set Payload"/>
                        <expression-component doc:name="Add cat5 to array"><![CDATA[flowVars.fareinfosArrays.add(payload)]]></expression-component>
                    </when>
                    <when expression="#[flowVars.category == '6']">
                        <logger message="6" level="INFO" doc:name="Logger6"/>
                        <flow-ref name="cat6_Flow" doc:name="Flow Reference"/>
                        <set-payload value="#[message.payloadAs(java.lang.String)]" doc:name="Set Payload"/>
                        <expression-component doc:name="Add cat6 to array"><![CDATA[flowVars.fareinfosArrays.add(payload)]]></expression-component>
                    </when>
                    <when expression="#[flowVars.category == '7']">
                        <logger message="7" level="INFO" doc:name="Logger7"/>
                        <set-payload value="#[message.payloadAs(java.lang.String)]" doc:name="Set Payload"/>
                        <expression-component doc:name="Add cat7 to array"><![CDATA[flowVars.fareinfosArrays.add(payload)]]></expression-component>
                    </when>
                    <when expression="#[flowVars.category == '31']">
                        <logger message="31" level="INFO" doc:name="Logger31"/>
                        <flow-ref name="cat31_Flow" doc:name="Flow Reference"/><set-payload value="#[message.payloadAs(java.lang.String)]" doc:name="Set Payload"/>
                        <expression-component doc:name="Add cat31 to array"><![CDATA[flowVars.fareinfosArrays.add(payload)]]></expression-component>
                    </when>
                    <when expression="#[flowVars.category == '33']">
                        <logger message="33" level="INFO" doc:name="Logger33"/>
                        <set-payload value="#[message.payloadAs(java.lang.String)]" doc:name="Set Payload"/>
                        <expression-component doc:name="Add cat33 to array"><![CDATA[flowVars.fareinfosArrays.add(payload)]]></expression-component>
                    </when>
                    <otherwise>
                        <logger message="***** Did not find the appropriate value for a category *****" level="INFO" doc:name="Logger"/>
                    </otherwise>
                </choice>
            </foreach>
        </foreach>
        <dw:transform-message doc:name="Transform Message" metadata:id="09379177-8757-4b29-9594-f8e2d1912a84">
            <dw:input-payload mimeType="application/java"/>
            <dw:input-inbound-property doc:sample="sample_data/map_string_string.dwl" propertyName="http.query.params"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json encoding="UTF-8"
---
flowVars.fareinfosArrays]]></dw:set-payload>
        </dw:transform-message>
    </sub-flow>
    
    <sub-flow name="cat6_Flow">
     <!--  metadata:id="38b99f86-3a5e-47cb-a095-f35563465473" -->
        <logger level="INFO" doc:name="Logger" message="Starting cat6 transformation"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="9bac77d9-4f5b-4d27-b8a3-8e167a308c70">
            <dw:input-payload mimeType="application/json" doc:sample="examples/mnrCatinfo-cat6.json"/>
            <dw:input-variable mimeType="application/json" variableName="currentMnrByPricingRecordJson" doc:sample="examples/mnrByPricingRecord.json"/>
            <dw:input-variable mimeType="application/java" variableName="category"/>
            <dw:set-payload resource="classpath:dwl/category6.dwl"/>
        </dw:transform-message>
        <logger message="Completed cat6 transformation  ::  Payload after DW for Category 6 :: #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
    </sub-flow>
    
    
    
    
    <sub-flow name="cat31_Flow">
        <logger level="INFO" doc:name="Logger" message="Starting cat31 flow"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="eacee65d-acbf-4dd9-aeb6-618c8d37ca25">
            <dw:input-payload doc:sample="examples/mnrCatInfo-Cat31.json" mimeType="application/json"/>
            <dw:input-variable mimeType="application/json" variableName="currentMnrByPricingRecordJson" doc:sample="examples/mnrByPricingRecord.json"/>
            <dw:input-variable mimeType="application/java" variableName="category"/>
            <dw:set-payload resource="classpath:dwl/category31.dwl"/>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger" message="Completed cat31 flow"/>
    </sub-flow>
    
</mule>
