target/classes/example_ac_pshp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    
    <flow name="example_ac_pshpFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <parse-template location="examples/mini-rules-sapi-response.json" doc:name="Parse Template - set the payload for sapi response"/>
        <logger level="INFO" doc:name="Logger" message="Starting the http flow for testing"/>
        <flow-ref name="minirules_SubFlow" doc:name="Flow Reference"/>
    </flow>
    
    <sub-flow name="minirules_SubFlow">
        <set-variable variableName="fareinfosArrays" value="#[ new java.util.ArrayList() ]" doc:name="fareinfosArrays"/>
        <foreach collection="#[json:/MiniRule_GetFromRecReply/mnrByPricingRecord]" doc:name="For Each - mnrByPricingRecord">
            <logger message="Found instance of mnrByPricingRecord" level="DEBUG" doc:name="Logger"/>
            <set-variable variableName="currentMnrByPricingRecordJson" value="#[payload]" doc:name="Variable - currentMnrByPricingRecordJson"/>
            <foreach collection="#[json:/mnrRulesInfoGrp]" doc:name="For Each - mnrRulesInfoGrp">
                <logger message="#['\n\nflowVar:\n' + flowVars.currentMnrByPricingRecordJson + '\n']" level="DEBUG" doc:name="Logger"/>
                <object-to-string-transformer doc:name="Object to String"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
                <logger message="in the for after transform to JSON  ==  #[json:/mnrCatInfo/descriptionInfo/number]" level="DEBUG" doc:name="Logger"/>
                <set-variable variableName="category" value="#[json:/mnrCatInfo/descriptionInfo/number]" doc:name="category"/>
                <choice doc:name="Choice">
                     <when expression="#[flowVars.category == '5']">
                        <logger message="5" level="DEBUG" doc:name="Logger5"/>
                        <flow-ref name="cat5_subFlow" doc:name="cat5_subFlow"/>
                        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
                        <json:object-to-json-transformer doc:name="Object to JSON" mimeType="application/json"/>
                        <expression-component doc:name="Add cat5 to array"><![CDATA[flowVars.fareinfosArrays.add(payload)]]></expression-component>
                    </when>
                    <when expression="#[flowVars.category == '6']">
                        <logger message="6" level="DEBUG" doc:name="Logger6"/>
                        <flow-ref name="cat6_subFlow" doc:name="cat6_subFlow"/>
                         <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
                        <json:object-to-json-transformer doc:name="Object to JSON" mimeType="application/json"/>
                        <expression-component doc:name="Add cat6 to array"><![CDATA[flowVars.fareinfosArrays.add(payload)]]></expression-component>
                    </when>
                    <when expression="#[flowVars.category == '7']">
                        <logger message="7" level="DEBUG" doc:name="Logger7"/>
                        <flow-ref name="cat7_subFlow" doc:name="cat7_subFlow"/>
                        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
                        <json:object-to-json-transformer doc:name="Object to JSON" mimeType="application/json"/>
                        <expression-component doc:name="Add cat7 to array"><![CDATA[flowVars.fareinfosArrays.add(payload)]]></expression-component>
                    </when>
                    <when expression="#[flowVars.category == '31']">
                        <logger message="31" level="DEBUG" doc:name="Logger31"/>
                        <flow-ref name="cat31_subFlow" doc:name="cat31_subFlow"/>
                         <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
                        <json:object-to-json-transformer doc:name="Object to JSON" mimeType="application/json"/>
                        <expression-component doc:name="Add cat31 to array"><![CDATA[flowVars.fareinfosArrays.add(payload)]]></expression-component>
                    </when>
                    <when expression="#[flowVars.category == '33']">
                        <logger message="33" level="DEBUG" doc:name="Logger33"/>
                        <flow-ref name="cat33_subFlow" doc:name="cat33_subFlow"/>
                        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
                        <json:object-to-json-transformer doc:name="Object to JSON" mimeType="application/json"/>
                        <expression-component doc:name="Add cat33 to array"><![CDATA[flowVars.fareinfosArrays.add(payload)]]></expression-component>
                    </when>
                    <otherwise>
                        <logger message="***** Did not find the appropriate value for a category *****" level="INFO" doc:name="Logger"/>
                    </otherwise>
                </choice>
            </foreach>
        </foreach>
        <dw:transform-message doc:name="Transform Message" metadata:id="09379177-8757-4b29-9594-f8e2d1912a84">
            <dw:input-payload mimeType="application/java"/>
            <dw:input-inbound-property doc:sample="sample_data/map_string_string.dwl" propertyName="http.query.params"/>
            <dw:set-payload resource="classpath:dw/arrayToJsonArray.dwl"/>
        </dw:transform-message>
    </sub-flow>

    <sub-flow name="cat5_subFlow">
        <logger level="INFO" doc:name="Logger" message="Starting cat5 transformation"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="2add139d-59b1-4993-8bd5-f6605a841c77">
            <dw:input-payload mimeType="application/json" doc:sample="sample_data/json_6.json"/>
            <dw:input-variable mimeType="application/json" variableName="currentMnrByPricingRecordJson" doc:sample="sample_data/json_7.json"/>
            <dw:set-payload resource="classpath:dw/category5.dwl"/>
        </dw:transform-message>
        <logger message="Completed cat6 transformation  ::  Payload after DW for Category 5 :: #[message.payloadAs(java.lang.String)]" level="DEBUG" doc:name="Post Transform Payload Logger"/>
    </sub-flow>
    
    <sub-flow name="cat6_subFlow">
     <!--  metadata:id="38b99f86-3a5e-47cb-a095-f35563465473" -->
        <logger level="INFO" doc:name="Logger" message="Starting cat6 transformation"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="9bac77d9-4f5b-4d27-b8a3-8e167a308c70">
            <dw:input-payload mimeType="application/json" doc:sample="examples/mnrCatinfo-cat6.json"/>
            <dw:input-variable mimeType="application/json" variableName="currentMnrByPricingRecordJson" doc:sample="examples/mnrByPricingRecord.json"/>
            <dw:input-variable mimeType="application/java" variableName="category"/>
            <dw:set-payload resource="classpath:dw/category6.dwl"/>
        </dw:transform-message>
        <logger message="Completed cat6 transformation  ::  Payload after DW for Category 6 :: #[message.payloadAs(java.lang.String)]" level="DEBUG" doc:name="Logger"/>

    </sub-flow>
    <sub-flow name="cat7_subFlow">
        <logger level="INFO" doc:name="Logger" message="Starting cat7 transformation"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="1e832429-e0f1-4f10-be0d-23f10f488933">
            <dw:input-payload mimeType="application/json" doc:sample="sample_data/json_8.json"/>
            <dw:input-variable mimeType="application/java" variableName="category"/>
            <dw:input-variable mimeType="application/json" variableName="currentMnrByPricingRecordJson"/>
            <dw:set-payload resource="classpath:dw/category7.dwl"/>
        </dw:transform-message>
        <logger level="DEBUG" doc:name="Logger" message="Completed cat76 transformation  ::  Payload after DW for Category 7 :: #[message.payloadAs(java.lang.String)]"/>
    </sub-flow>
    
    <sub-flow name="cat31_subFlow">
        <logger level="INFO" doc:name="Logger" message="Starting cat31 transformation"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="eacee65d-acbf-4dd9-aeb6-618c8d37ca25">
            <dw:input-payload doc:sample="examples/mnrCatInfo-Cat31.json" mimeType="application/json"/>
            <dw:input-variable mimeType="application/json" variableName="currentMnrByPricingRecordJson" doc:sample="examples/mnrByPricingRecord.json"/>
            <dw:input-variable mimeType="application/java" variableName="category"/>
            <dw:set-payload resource="classpath:dw/category31.dwl"/>
        </dw:transform-message>
        <logger level="DEBUG" doc:name="Logger" message="Completed cat31 transformation  ::  Payload after DW for Category 31 :: #[message.payloadAs(java.lang.String)]"/>
    </sub-flow>
    
     <sub-flow name="cat33_subFlow">
        <logger level="INFO" doc:name="Logger" message="Starting cat33 transformation"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="50b30a2f-25f4-4a5b-ad5f-6ccbda91690e">
            <dw:input-payload doc:sample="sample_data/json_11.json" mimeType="application/json"/>
            <dw:input-variable mimeType="application/java" variableName="category"/>
            <dw:input-variable mimeType="application/json" variableName="currentMnrByPricingRecordJson"/>
            <dw:set-payload resource="classpath:dw/category33.dwl"/>
        </dw:transform-message>
        <logger message="Completed cat33 transformation  ::  Payload after DW for Category 33 :: #[message.payloadAs(java.lang.String)]" level="DEBUG" doc:name="Logger"/>
    </sub-flow>

</mule>
